project:
  type: website

website:
  title: "Chris Hires"
  navbar:
    background: ffffff
    search: true
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About

format:
  html:
    toc: true
    code-fold: true
    code-summary: "Show Code"
    css: styles.css



